################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Library
/Logs
/Temp
/UserSettings
/WebGLTesting.sln
/.vsconfig
/obj/Debug
*.csproj
